<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>燕翔嘉业货运管理系统</title>
    <meta name="keywords" content="燕翔嘉业货运管理系统">
    <meta name="description" content="燕翔嘉业货运管理系统">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/css/layuimini.css?v=2.0.1" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form" lay-filter="example">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">项目名称</label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" class="projectCode" name="projectCode">
                            <option value="">请选择</option>
                        </select>
                        <input type="hidden" name="orderId">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderNo" lay-verify="required" lay-reqtext="单号不能为空" placeholder="请输入单号" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">封签号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sealNo" lay-verify="required" lay-reqtext="封签号不能为空" placeholder="请输入封签号" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderDate" id="orderDate" lay-verify="date" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">出发时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="startTime" id="startTime" lay-verify="time" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">到站时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endTime" id="endTime" lay-verify="time" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">车号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="carNo" lay-verify="required" lay-reqtext="车号不能为空" placeholder="请输入车号" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">司机</label>
                    <div class="layui-input-inline">
                        <input type="text" name="driver" lay-verify="required" lay-reqtext="司机不能为空" placeholder="请输入司机" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">托拍数</label>
                    <div class="layui-input-inline">
                        <input type="number" name="beats" lay-verify="required" lay-reqtext="托拍数不能为空" placeholder="请输入托拍数" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">始发站</label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" class="departure" lay-filter="departure" name="departure">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">目的地</label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" class="terminal" lay-filter="terminal" name="terminal">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">车型</label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" class="carTypeCode" lay-filter="carTypeCode" name="carTypeCode">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">里程</label>
                    <div class="layui-input-inline">
                        <input type="number" name="mileage" lay-verify="required" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">运费</label>
                    <div class="layui-input-inline">
                        <input type="number" id="cost" name="cost" lay-verify="required" value="0" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label required">回扣</label>
                    <div class="layui-input-inline">
                        <input type="number" name="rebate" id="rebate" lay-verify="required" value="0" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required">结款运费</label>
                    <div class="layui-input-inline">
                        <input type="number" name="freight" lay-verify="required" value="0" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">高速费</label>
                    <div class="layui-input-inline">
                        <input type="number" name="highspeedCharge" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">油卡余额</label>
                    <div class="layui-input-inline">
                        <input type="number" name="oilCardBalance" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">公里数</label>
                    <div class="layui-input-inline">
                        <input type="number" name="kilometers" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">油卡充值</label>
                    <div class="layui-input-inline">
                        <input type="number" name="oilCardTopup" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用油情况</label>
                    <div class="layui-input-inline">
                        <input type="number" name="oilCardUse" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">修车费</label>
                    <div class="layui-input-inline">
                        <input type="number" name="repairfee" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">车辆罚款</label>
                    <div class="layui-input-inline">
                        <input type="number" name="fine" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">速通卡</label>
                    <div class="layui-input-inline">
                        <input type="number" name="suTongCard" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">支付现金</label>
                    <div class="layui-input-block">
                        <input type="number" name="paycash" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                        <button class="layui-btn layui-btn-primary" id="btnClose" lay-filter="btnClose">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layer', 'laydate', 'tableSelect', 'layarea'], function () {
            var form = layui.form,
                laydate = layui.laydate,
                layarea = layui.layarea;

            var router = layui.router();

            //日期
            laydate.render({
                elem: '#orderDate'
            });
            laydate.render({
                elem: '#startTime',
                type: 'time'
            });
            laydate.render({
                elem: '#endTime',
                type: 'time'
            });

            //加载项目
            $.get("/Dic/GetDicListByTypeCode", { dicTypeCode: "ProjectName" }, function (jsonProject) {
                if (jsonProject.Result) {
                    JSON.parse(jsonProject.DataValue).forEach(function (item, index, arr) {
                        $(".projectCode").append("<option value='" + item.dicCode + "'>" + item.dicName + "</option>");
                    });
                    form.render();
                }

                //加载始发地
                $.get("/JDItinerary/GetDeparture", {}, function (jsonDeparture) {
                    if (jsonDeparture) {
                        jsonDeparture.forEach(function (item, index, arr) {
                            $(".departure").append("<option value='" + item + "'>" + item + "</option>");
                        });
                        form.render();
                    }

                    if (router.search.orderNo != undefined && router.search.orderNo !== "") {
                        $.get("/OrderJD/GetOrderJDByOrderNo", { orderNo: router.search.orderNo }, function (json) {

                            //加载目的地
                            $.get("/JDItinerary/GetTerminal", { departure: json.departure }, function (jsonTerminal) {
                                $(".terminal").empty();
                                $(".terminal").html('<option value="">请选择</option>');
                                if (jsonTerminal.Result) {
                                    JSON.parse(jsonTerminal.DataValue).forEach(function (item, index, arr) {
                                        $(".terminal").append("<option value='" + item.terminal + "'  data-code='" + item.jDItineraryCode + "' data-mileage='" + item.mileage + "' >"
                                            + item.terminal + "</option>");
                                    });

                                    //表单初始赋值
                                    form.val('example', {
                                        "orderId": json.orderId, "projectCode": json.projectCode, "orderNo": json.orderNo
                                        , "sealNo": json.sealNo, "orderDate": json.orderDate.substr(0, 10), "startTime": json.startTime
                                        , "endTime": json.endTime, "carNo": json.carNo, "driver": json.driver
                                        , "departure": json.departure, "terminal": json.terminal
                                        , "beats": json.beats, "mileage": json.mileage, "highspeedCharge": json.highspeedCharge
                                        , "cost": json.cost, "rebate": json.rebate, "freight": json.freight
                                        , "oilCardBalance": json.oilCardBalance, "kilometers": json.kilometers, "oilCardTopup": json.oilCardTopup
                                        , "oilCardUse": json.oilCardUse, "repairfee": json.repairfee, "fine": json.fine
                                        , "suTongCard": json.suTongCard, "paycash": json.paycash, "remark": json.remark
                                    });

                                    form.render();

                                    //货车类型
                                    $.get("/JDItineraryCost/GetJDItineraryCosts", { jDItineraryCode: $(".terminal option:selected").attr("data-code") }, function (jsonCarType) {
                                        $(".carTypeCode").empty();
                                        $(".carTypeCode").html('<option value="">请选择</option>');
                                        if (jsonCarType.Result) {
                                            JSON.parse(jsonCarType.DataValue).forEach(function (item, index, arr) {
                                                $(".carTypeCode").append("<option value='" + item.carTypeCode + "' data-cost='" + item.cost + "' >" + item.carType + "</option>");
                                            });

                                            //表单初始赋值
                                            form.val('example', { "carTypeCode": json.carTypeCode });
                                            form.render();
                                        }
                                    });
                                }
                            });
                        });
                    }
                });
            });

            form.on('select(departure)', function (data) {
                $.get("/JDItinerary/GetTerminal", { departure: data.value }, function (json) {
                    $(".terminal").empty();
                    $(".terminal").html('<option value="">请选择</option>');
                    if (json.Result) {
                        JSON.parse(json.DataValue).forEach(function (item, index, arr) {
                            $(".terminal").append("<option value='" + item.terminal + "'  data-code='" + item.jDItineraryCode + "' data-mileage='" + item.mileage + "' >"
                                + item.terminal + "</option>");
                        });
                    }
                    form.render();
                });
            });

            form.on('select(terminal)', function (data) {
                form.val('example', {
                    "mileage": $(".terminal option:selected").attr("data-mileage")
                });

                $.get("/JDItineraryCost/GetJDItineraryCosts", { jDItineraryCode: $(".terminal option:selected").attr("data-code") }, function (json) {
                    $(".carTypeCode").empty();
                    $(".carTypeCode").html('<option value="">请选择</option>');
                    if (json.Result) {
                        JSON.parse(json.DataValue).forEach(function (item, index, arr) {
                            $(".carTypeCode").append("<option value='" + item.carTypeCode + "' data-cost='" + item.cost + "' >" + item.carType + "</option>");
                        });
                    }
                    form.render();
                });
            });

            form.on('select(carTypeCode)', function (data) {
                form.val('example', {
                    "cost": $(".carTypeCode option:selected").attr("data-cost"),
                    "freight": Number($(".carTypeCode option:selected").attr("data-cost")) - Number($("#rebate").val())
                });
            });

            $("#cost").on("input", function (e) {
                //获取input输入的值
                form.val('example', {
                    "freight": Number(e.currentTarget.value) - Number($("#rebate").val())
                });
            });

            $("#rebate").on("input", function (e) {
                //获取input输入的值
                form.val('example', {
                    "freight": Number($("#cost").val()) - Number(e.delegateTarget.value)
                });
            });

            form.on('submit(btnSave)', function (data) {
                data = data.field;
                $.post("/OrderJD/SaveOrderJD", data, function (json) {
                    if (json.Result) {
                        layer.msg(json.Message, { shift: -1, time: 1000 }, function () {
                            parent.layui.table.reload('currentTableId');
                            parent.layer.close(index); //再执行关闭
                        });
                    } else {
                        layer.msg(json.Message);
                        return false;
                    }
                }, "json");
            });

            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            layui.$('#btnClose').on('click', function () {
                parent.layer.close(index); //再执行关闭
            });
        });</script>
</body>
</html>
