<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>燕翔嘉业货运管理系统</title>
    <meta name="keywords" content="燕翔嘉业货运管理系统">
    <meta name="description" content="燕翔嘉业货运管理系统">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/css/layuimini.css?v=2.0.1" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
    <div class="layuimini-main">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">油卡充值记录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'layer', 'element'], function () {
            var form = layui.form,
                table = layui.table,
                element = layui.element;

            var router = layui.router();

            table.render({
                elem: '#currentTableId',
                url: '/OrderJD/GetOilCardTopupLog?carNO=' + router.search.carNO,
                defaultToolbar: [],
                cols: [[
                    { type: "numbers", width: '20%', title: '序号' },
                    { field: 'orderDate', width: '40%', title: '日期', align: 'center',templet: "<div>{{layui.util.toDateString(d.orderDate, 'yyyy-MM-dd')}}</div>" },
                    { field: 'oilCardTopup', width: '40%', title: '充值金额', align: 'center' }
                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true
            });
        });
    </script>
</body>
</html>
