<style type="text/css">
    .seh-title {
        height: 100%;
        text-align: center;
        font-size: 1.2em;
    }

        .seh-title:before {
            content: "";
            vertical-align: middle;
            display: inline-block;
            height: 100%;
        }

        .seh-title img {
            vertical-align: middle;
            display: inline-block;
        }
</style>

<div class="row clearfix seh-title">
    <img src="/images/welcome.png" width="500" height="500" />
</div>