@inherits LayoutComponentBase

<Layout Style="height:100%;">
    <Header Class="site-layout-sub-header-background" Style="padding: 0;">    <div class="logo" /></Header>
    <Layout>
        <Sider>
            <NavMenu />
        </Sider>
        <Content Style=" margin: 24px 16px 0;">
            <Breadcrumb Style="margin: 16px 0;">
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>List</BreadcrumbItem>
                <BreadcrumbItem>App</BreadcrumbItem>
            </Breadcrumb>
            <div class="site-layout-background" style="padding: 24px; min-height: 360px">
                @Body
            </div>
        </Content>
    </Layout>
    <Footer Style="text-align: center;">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>

<style>
    #components-layout-demo-responsive .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout-sub-header-background {
        background: #fff;
    }

    .site-layout-background {
        background: #fff;
    }
</style>